@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.base {
  background-size: cover;
  background-attachment: fixed;
  background-image: url('images/forest.jpg');;
}

h1, h2 {
  font-family: 'Metamorphous', serif;
  font-weight: bolder;
}

.MainTitle {
  text-align: center;
  justify-content: center;
  align-content: center;
}

#reroll {
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 40px;
}

.rollBtn {
  height: 50px;
  color: white;
  background-color: rgb(88, 85, 85);
  font-size: 30px;
  border-radius: 8px;
  transition-duration: 0.2s;

  text-align: center;
  justify-content: center;
  align-content: center;

}

.sqrBtn {
  height: auto;
  width: 50px;
  color: white;
  background-color: rgb(88, 85, 85);
  font-size: 30px;
  border-radius: 8px;
  transition-duration: 0.2s;
  margin: 10px;

  text-align: center;
  justify-content: center;
  align-content: center;
}

.rollBtn:hover, .sqrBtn:hover{
  background-color: rgb(17, 17, 17);
}

.cardName {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  background-color: rgba(22, 22, 22, 0.5);
  height: 600px;
  justify-content: center;
  justify-content: space-around;
  /* align-items: center; */
}

.Controls {
  display: flex;
  justify-content: center;
  padding: 5px;
}

img {
  width: 200px;
  height: auto;
  margin: 4px;
  transition: width 1s;
}

img:hover{
  width: 300px;
}

.Common {
  color: black;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

.Uncommon{
  color:rgb(190, 190, 171);
  text-shadow: 1px 1px 2px rgb(15, 155, 236), 0 0 25px rgb(28, 218, 231), 0 0 5px rgb(19, 19, 19);
}

.Rare {
  color:gold;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

.Mythic {
  color:rgb(255, 102, 0);
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}